rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, create, update: if isAuth() && request.auth.uid == userId;
    }
    
    function isAuth() {
      return request.auth.uid != null;
    }
  }
}